extends _layout.pug

block content
  div(style="width: 300px;")
    a.e-btn(href="" target="_blank")= data("form.btn.submit.val")
    a.e-btn.error(href="" target="_blank") Error
    a.e-btn.ok(href="" target="_blank") Ok
